AZURE_OPENAI_KEY = "XXXXXXXXX"
AZURE_OPENAI_ENDPOINT = "https://YOUR-ENDPOINT.openai.azure.com"
AZURE_OPENAI_CHATGPT_DEPLOYMENT = "gpt-5.2-chat" # optional fallback, UI field has priority
AZURE_OPENAI_API_VERSION = "2025-04-01-preview"
OPENAI_API_KEY = "" # optional if you choose provider 'OpenAI'
OPENAI_MODEL = "gpt-5.2-chat" # optional fallback, UI field has priority
APP_REGISTRATION_ID = "14d82eec-204b-4c2f-b7e8-296a70dab67e"
GRAPH_SCOPE = "https://graph.microsoft.com/.default"
