AZURE_OPENAI_KEY = "XXXXXXXXX"
AZURE_OPENAI_ENDPOINT = "https://YOURENDPOINTNAME.openai.azure.com"
AZURE_OPENAI_CHATGPT_DEPLOYMENT = "gpt-35-turbo"
APP_REGISTRATION_ID = "14d82eec-204b-4c2f-b7e8-296a70dab67e"